* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
}

button {
  aspect-ratio: 1 / 1;
  flex-basis: calc(100% / 3);
  font-size: xx-large;
  border: 2px solid grey;
}

button:hover {
  filter: brightness(1.2);
}

.calc-frame {
  aspect-ratio: 2 / 3;
  width: 500px;
  background-color: grey;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
}

.display {
  background-color: black;
  color: white;
  text-align: right;
  font-size: 5em;
  flex: auto;
}

.main-container {
  display: flex;
}

.number-side {
  flex-basis: 75%;
}

.top-container {
  display: flex;
}

.numbers-container {
  display: flex;
  flex-wrap: wrap;
}

.number-btn {
  background-color: plum;
}

#clear-btn,
#back-btn {
  font-size: large;
}

.operator-side {
  flex-basis: 25%;
  display: flex;
  flex-direction: column;
}

.operators-container {
  display: flex;
  flex-direction: column;
}

.op-btn {
  background-color: burlywood;
}

#equal-btn {
  background-color: turquoise;
}
